<link rel="stylesheet" href="style.css">
<header>
    <nav>
        <a href="#" class="logo"></a>
        <h1>Nome da <span>Empresa</span></h1>
        <ul>
            <li class="nav-item"><a class="nav-link" href="#">Página Inicial</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Trabalhe Conosco</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
        </ul>
        <div class="theme-switcher">
            <input type="checkbox" name="checkTheme" id="checkTheme">
            <label for="checkTheme" class="label">
                <ion-icon name="partly-sunny-outline" size="small" class="moon"></ion-icon>
                <ion-icon name="moon-outline" size="small" class="sun"></ion-icon>
                <div class="swtich"></div>
            </label>
        </div>
    </nav>
</header>
<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
